* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
