.bg-wrapper{
  background: linear-gradient(135deg, navy, #b8b8cf, #2a1d9c);
  padding: 40px 0;
  height: 100%;
  width: 100%;
}
.potential-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 60px auto;
  text-align: center;
}

/* HEADING */
.potential-title {
  font-size: 24px;
  max-width: 750px;
  margin: auto;
  line-height: 1.4;
}

.light {
  color: #555;
}

.highlight {
  color: #1e3a8a;
  font-weight: bold;
}

/* CARDS GRID */
.card-grid {
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

/* CARD */
.p-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.p-card:hover {
  transform: translateY(-5px);
}

.p-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.p-text {
  padding: 12px;
  font-weight: 600;
  color: #1e3a8a;
}

/* MOBILE */
@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
